<div class="container">
  <div class="row">
    <div class="col-md-3" >
      <%= render 'info', book: @books, user: @user %>
    </div>



    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>

      <%= link_to user_path(@book.user) do %>
        <%= image_tag @book.user.get_profile_image(100,100) %>
      <% end %>

      <%= link_to @book.user.name, user_path(@book.user) %>

      <%= link_to @book.title, book_path(@book.id) %>

      <%= @book.body %>

      <% if @book.user == current_user %>
        <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-secondary" %>
        <%= link_to "Destroy", book_path(@book.id), class: "btn btn-secondary", method: :delete, "data-confirm" => "本当に消しますか？" %>
      <% end %>
    </div>
  </div>
</div>