

<div>
  <h1>Book detail</h1>
  <p>
    <%= link_to user_path(@book) do %>
      <%= image_tag 'sample-author1.jpg' %>
    <% end %>
  </p>
  <p><%= @book.title %></p>
  <p><%= @book.body %></p>
  <p>
    <% if @book.user == current_user %>
      <%= link_to "Edit",edit_book_path %>
    <% end %>
  </p>
  <p>
    <% if @book.user == current_user %>
      <%= link_to "Destroy",book_path, method: :delete, "data-confirm" => "本当に消しますか?" %>
    <% end %>
  </p>
  <p>
    <%= link_to user_path(@book) do %>
      <%= @book.user.name %>
    <% end %>
  </p>
</div>